{% macro render_pagination(page, total_pages, base_url, params={}) %}
{% if total_pages > 1 %}
<nav class="pagination">
    {% set query_string = '' %}
    {% for key, value in params.items() %}
        {% if value %}
            {% set query_string = query_string ~ '&' ~ key ~ '=' ~ value %}
        {% endif %}
    {% endfor %}
    
    {% if page > 1 %}
    <a href="{{ base_url }}?page={{ page - 1 }}{{ query_string }}" class="pagination-link">
        &laquo; Previous
    </a>
    {% else %}
    <span class="pagination-link disabled">&laquo; Previous</span>
    {% endif %}
    
    <span class="pagination-info">
        Page {{ page }} of {{ total_pages }}
    </span>
    
    {% if page < total_pages %}
    <a href="{{ base_url }}?page={{ page + 1 }}{{ query_string }}" class="pagination-link">
        Next &raquo;
    </a>
    {% else %}
    <span class="pagination-link disabled">Next &raquo;</span>
    {% endif %}
</nav>
{% endif %}
{% endmacro %}
